nav a{
    margin-right: 16px;
}
.users{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px;
    padding:15px;
}
.user{
    background-color: beige;
    border-radius: 10px;
    border: 2px solid grey;
}
.postDetail{
    background-color: plum;
    border-radius: 10px;
    border: 2px solid white ;
    padding: 15px;
}